html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
}


h3 {
    margin-top: 0;
    margin-bottom: 40px;
}


.bar-sup {
    height: 25px;
    background-color: rgb(29, 29, 29);
}

.nav {
    height: 100px;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
}

.nav a img{
    width: 265px; 
    max-width: 100%;
    height: auto;
}

.bar-nav {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;

}

.bar-nav a {
    text-decoration: none;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 750;
    padding: 15px 30px;
    border-bottom: 2.5px solid transparent; /* Borde transparente inicialmente */
    transition: border-color 0.3s ease;
}

.bar-nav a:hover {
    color: rgb(0, 84, 209);
    border-bottom-color: rgb(0, 84, 209);
}

/* Hero */

.hero {
    background-image: url('../imgs/heros/hero-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.contenido-hero {
    width: 500px;
    text-align: center;
    color: white;
    font-size: large;
    margin: 0 40px;
    
}

/* Llegando a los 900px, aumenta 200px a la derecha de margen */

@media (min-width: 900px) {

    .overlay {
        justify-content: flex-end;
        
    }

    .contenido-hero {
        margin-right: 200px;
    }
}

/* Llegando a los 1700px, aumenta 400px a la derecha de margen */

@media (min-width: 1700px) {

    .overlay {
        justify-content: flex-end;
        
    }

    .contenido-hero {
        margin-right: 400px;
    }
}




.contenido-hero h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
}

.contenido-hero p {
    line-height: 30px;
    margin: 40px 0;
}


/* botones */

.btn-primary {
    background-color: rgb(54, 132, 250);
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    border-style: none;
    border-radius: 5px;
    
}

.btn-primary:hover {
    background-color: rgb(0, 84, 209);
    cursor: pointer;
}


/* Servicios */

.servicios {
    background-color: rgb(231, 246, 253);
}

.contenedor {
    width: 1200px;
    margin: 0 auto;
}

.contenido-servicios {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.contenido-servicios h2 {
    margin: 0 auto;
    width: 900px;
    padding: 40px 0;
    font-size: 44px;
    font-weight: 700;
}


.cards-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;

    
    
}


.card {
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    align-content: center;
    padding: 30px 40px;

    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
}

.card img {
    margin-bottom: 30px;
}

.card p {
    line-height: 25px;
    margin: 30px 30px ;
    margin-bottom: 0;
}



/* Beneficios */

.beneficios {
    padding: 70px 0 ;
}


.contenedor h2 {
    margin: 0 auto;
    width: 900px;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.columnas {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.caract-benef {
    width: 500px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.caract-benef p {
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 70px;
    line-height: 25px;
}

.icono-h3 {
    display: flex;
    gap: 30px;
}

.icono-h3 h3 {
    margin: 0;
    align-content: center;
}



/* Llamada a la accion */

.accion {
    background-color: rgb(231, 246, 253);
    padding: 60px 0;
}

.contenido-accion {
    background-color: white;
    padding: 40px 30px ;
    text-align: center;
}


/* Footer */
footer {
    height: 500px;
    background-color: rgb(29, 29, 29);
}

/* final */
.copyright {
    height: 60px;
    background-color: black;
}
